.class1 {
    background-color: skyblue;
    position: relative;
}

#container {
    background-color: tan;
    padding-top: 50px;
}

.biopic {
    width: 275px;
    height: 275px;
}

body{
    margin-top: 30px;

}
.navbar {
    margin-bottom: 15px;
    margin-top: 15px;
}
.row {
    margin-right: -8px;
    margin-left: -8px;
}
.float-left {
    padding-top: 15px;
}

#footer {
    padding-top: 60px;
}

.p-3 {
    max-width: 65%;
}

#main-container {
    background: skyblue;
}

#main-container li {
	list-style: none;
	width: 90%;
    height: auto;
    width: auto;
}

h4 {
    color:black;
	background-color: cyan;
    line-height: 40px;
    width: 150px;
	text-align: center;
    bottom: 53px;
    text size: 20px;
    
}